header a img {
  width: 100px;
  height: 100px;
}
* {
  scroll-behavior: smooth;
  background-attachment: fixed;
}
*::selection {
  background-color: #8d8d8d;
  color: #ffd900;
}
header {
  display: flex;
  justify-content: space-around;
  z-index: 100;
  position: relative;
  z-index: 1;
  width: 100%;
}

header a:hover {
  color: #fff;
}
.headcontainer {
  background: url("../IMAGES/idea.jpg");
  position: relative;
  height: 110vh;
  background-attachment: fixed;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headcontainer::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
  left: 0;
  top: 0;
}
header nav ul {
  list-style: none;
  z-index: 10;
}
header nav {
  margin-top: 20px;
}
header nav ul li:first-child a {
  color: #ac7e00;
}
header nav ul li {
  display: inline;
  margin: 0px 15px;
  position: relative;
  background: linear-gradient(white, #eee);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 0% 1px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header nav ul li:hover {
  background-size: 100% 1px;
}
header nav ul li:hover a {
  color: #ac7e00;
}
header nav ul li a {
  text-decoration: none;
  transition: 0.5s ease-in-out;
  color: white;
  /*font-size: 1em;
  */
  font-size: 16px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
header h1 a {
  text-decoration: none;
  background: linear-gradient(white, #eee);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 1px;
  color: white;
  font-family: "Comforter", cursive;
}
.socials {
  right: 10px;
  bottom: 35%;
  position: absolute;
  z-index: 1;
  transition: 0.5s;
}
.socials ul li a i.fa-facebook:hover {
  transform: scale(1.5);
  color: blue;
}
.socials ul li a i.fa-instagram:hover {
  transform: scale(1.5);
  color: palevioletred;
}
.socials ul li a i.fa-twitter:hover {
  transform: scale(1.5);
  color: #00b7ff;
}
.socials ul li {
  padding-bottom: 20px;
}
.socials ul {
  list-style: none;
}
.socials ul li a i {
  color: white;
  transition: 0.5s;
  font-size: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.one {
  width: 60%;
  margin-top: 100px;
  margin-left: 20%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 20px;
  position: relative;
  z-index: 1;
  border-radius: 50px;
  height: 470px;
}
.one h1 {
  color: white;
  cursor: pointer;
  font-size: 3em;
  text-align: start;
  margin-top: 50px;
  grid-column: span 2;
  font-family: "Amiri", serif;
}
.one h2 {
  color: white;
  font-size: 2em;
  text-align: center;
  margin-top: -100px;
  font-family: "Amiri", serif;
  grid-column: span 2;
  font-weight: normal;
}
.one .button a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5em;
  box-shadow: 10px 10px 10px 0 #333;
  border-radius: 10px;
  border: 1px solid white;
  transition: all 0.5s;
  font-family: "Ameri serif";
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.one .button a:hover {
  background: linear-gradient(
    #0a4249a9,
    #232c0098,
    #3a063a65,
    #acdade1e,
    #aaffaa25
  );
}
.one .button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.one .button {
  text-align: end;
  margin-left: 70%;
  border-radius: 10px;
  transition: all 0.5s;
  padding-top: -80px;
  margin-top: -100px;
  width: fit-content;
  height: fit-content;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.two {
  height: 1750px;
  width: 90%;
  background: url("../IMAGES/newmenu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: skewY(5deg);
  margin-left: 5%;
  background-position: left top;
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
}
.two .container {
  width: 100%;
  height: 100%;
  transform: skewY(-5deg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
}

.two .container .meal {
  position: relative;
  grid-column: span 2;
}
.two .container .meal h1 {
  color: white;
  display: inline;
  position: relative;
  top: -50px;
  font-size: 5em;
  transition: 0.5s;
  font-weight: normal;
  font-family: "Amiri", sans-serif;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.two .container .meal h1:hover {
  background: linear-gradient(45deg, #e0fd60, #f68b27);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform-origin: left top;
  text-decoration: underline;
}
.two .container .meal .mealhead a {
  color: white;
  text-decoration: none;
}
.two .container .first {
  grid-row-start: 2;
}
.two .container .meal .mealhead a img {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.two .container .meal .mealhead a img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.two .container .second .mealhead {
  text-align: end;
  direction: ltr;
}
.two .container .fourth .mealhead {
  direction: ltr;
  text-align: end;
}
.two .container .meal .mealinfo {
  color: white;
  font-size: 25px;
  width: 70%;
  margin-left: 15%;
}
.contact {
  height: 550px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}
.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: skewY(5deg);
  height: 100%;
  position: relative;
  background: url("../IMAGES/contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -moz-background-attachment: fixed;
  background-position: top left;
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
}
.contact .container .card {
  transform: skewY(-5deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 3em;
  font-family: "Amiri";
  font-weight: normal;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
}
.contact .container .card h1 {
  text-align: center;
}
.contact .container .card a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  background-color: lightblue;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.contact .container .card a:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px 0 #b6b6b6;
  background-color: #84c8df;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.contact .container .card span {
  font-size: 13px;
  margin-top: 10px;
}
.about {
  height: 1000px;
}
.about .container {
  margin-top: 50px;
  padding: 20px;
  width: 80%;
  background-color: #ccc;
  border-radius: 10px;
  margin-left: 10%;
  box-shadow: 10px 10px 10px 0 #b6b6b6;
  display: grid;
  grid-template-columns: repeat(2, 1fr) auto;
  grid-template-rows: repeat(4, auto);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  justify-items: end;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.about .container .info-three,
.info-two,
.info-four {
  background-color: white;
}
.about .container .info-one {
  grid-row: span 2;
  margin: 0 110px 30px 80px;
}
.about .container .info-two {
  grid-row: span 2;
  grid-column: span 2;
  padding: 10px;
  font-size: 1.5em;
  font-family: "Amiri", serif;
}
.about .container .info-three {
  grid-column: span 3;
  padding: 10px;
  font-size: 1.5em;
  font-family: "Amiri", serif;
}
.about .container .info-four {
  grid-column-start: 3;
  width: 73%;
  color: #000;
  padding: 30px;
  font-size: 1.5em;
  font-family: "Amiri", serif;
  margin-top: 30px;
}

.about .second-container {
  width: 100%;
  padding: 20px;
  margin-left: 0;
  margin-top: 50px;
  background-color: #333;
  display: grid;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) auto;
  grid-template-rows: repeat(4, auto);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  justify-items: end;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
footer {
  width: 100%;
  margin-top: 150px;
  height: 602px;
  background: url("../IMAGES/foot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: fixed;
  align-items: center;
  position: relative;
  z-index: 0;
  background-position: center center;
}
footer:after {
  content: "";
  position: absolute;
  z-index: -10;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
footer .half-of-footer {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 5%;
}
footer .half-of-footer ul {
  list-style: none;
  display: flex;
  border: 2px solid red;
  padding: 20px 5px;
  justify-content: space-between;
  z-index: 10;
}
footer .half-of-footer ul li {
  margin: 0 60px;
}
footer .half-of-footer ul li i {
  font-size: 60px;
}
footer .half-of-footer ul li a {
  color: #4b4b4b;
}
footer .second-half {
  height: 350px;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .second-half h3 {
  color: #4b4b4b;
  font-size: 1.5em;
  font-family: "Amiri", serif;
}
footer .second-half .projects {
  display: flex;
  justify-content: center;
}
footer .second-half .projects div a {
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  margin: 20px;
  text-transform: uppercase;
  display: inline;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid white;
}
.second-half h1 {
  font-size: 2em;
  font-family: sans-serif;
  color: white;
  font-weight: normal;
  margin-top: 50px;
  text-transform: uppercase;
}
.second-half h3 a {
  color: white;
  text-decoration: none;
}
.second-half .special {
  margin-top: -30px;
}
footer .up {
  position: absolute;
  top: 10px;
  font-size: 60px;
  right: calc(50% - 60px);
}
footer .up a {
  color: #4b4b4b;
}
footer .up a:hover {
  color: white;
}
footer .half-of-footer ul li:nth-child(1) a:hover {
  color: blue;
}
footer .half-of-footer ul li:nth-child(2) a:hover {
  color: #ff004cec;
}
footer .half-of-footer ul li:nth-child(3) a:hover {
  color: #0099ff;
}
footer .half-of-footer ul li:nth-child(4) a:hover {
  color: #0099ff;
}
footer .half-of-footer ul li:nth-child(5) a:hover {
  color: white;
}
@media (max-width: 600px) {
  .contact .container .card p {
    margin-top: 50px;
  }
  .contact .container .card {
    font-size: 23px;
    text-align: center;
  }
  .contact .container .card a {
    font-size: 0.8em;
    margin-top: 50px;
  }
  header nav ul li {
    font-size: 12px;
  }
  .two .container .meal .mealinfo {
    font-size: 20px;
  }
  
  header nav ul li a {
    font-size: 0.9em;
  }
  .one h1 {
    font-size: 1.3em;
  }
  .one h2 {
    font-size: 1em;
  }
  .one .button a {
    font-size: 1em;
    padding: 5px;
  }
  .one .button {
    width: 70px;
  }
  .two {
    height: 1200px;
    grid-template-rows: repeat(4, 1fr);
  }
  .two {
    background: url("../IMAGES/query.jpg");
  }
  .two .container .meal h1 {
    font-size: 4em;
  }
  .two .container .fourth {
    margin-bottom: 450px;
  }
  .two .container .first {
    margin-top: -20px;
  }
  .two .container .second {
    margin-top: 10px;
  }
  .two .container .third {
    margin-top: 20px;
  }
  .about .container {
    display: block;
  }
  .about .container .info-one {
    margin: 0;
  }
  .about .container img {
    width: 100%;
    height: 400px;
  }
  .about {
    height: 1850px;
  }
  footer .half-of-footer ul li i {
    font-size: 30px;
  }
  footer .half-of-footer ul li {
    margin: 0 30px;
  }
  footer .half-of-footer {
    margin-left: 0;
  }
  footer .up {
    left: 45%;
  }
  footer .second-half .projects div a {
    font-size: 20px;
    margin: 20px 10px;
  }
  .two .container .meal .mealhead a img {
    height: 130px;
    width: 130px;
  }
  .about .container div h1 {
    font-size: 2em !important;
  }
  .about .container div p {
    font-size: 0.8em !important;
  }
}
@media (max-width: 1000px) and (min-width: 600px) {
  .contact .container .card p {
    margin-top: 50px;
  }
  .contact .container .card {
    font-size: 30px;
    text-align: center;
  }
  .contact .container .card a {
    font-size: 0.6em;
    margin-top: 50px;
  }
  header nav ul li {
    font-size: 15px;
  }
  .two .container .meal .mealinfo {
    font-size: 22.8px;
  }
  .one h1 {
    font-size: 1.8em;
  }
  .one h2 {
    font-size: 1.2em;
  }
  .one .button a {
    font-size: 1.2em;
    padding: 5px;
  }
  .one .button {
    width: 90px;
  }
  .two {
    height: 1200px;
    grid-template-rows: repeat(4, 1fr);
  }
  .two {
    background: url("../IMAGES/query.jpg");
  }
  .two .container .meal h1 {
    font-size: 4em;
  }
  .two .container .fourth {
    margin-bottom: 450px;
  }
  .two .container .first {
    margin-top: -20px;
  }
  .two .container .second {
    margin-top: 10px;
  }
  .two .container .third {
    margin-top: 20px;
  }
  .about .container {
    display: block;
  }
  .about .container .info-one {
    margin: 0;
  }
  .about .container img {
    object-fit: cover;
    width: 100%;
    height: 400px;
  }
  .about {
    height: 1600px;
  }
  footer .half-of-footer ul li i {
    font-size: 30px;
  }
  footer .half-of-footer ul li {
    margin: 0 30px;
  }
  footer .half-of-footer {
    margin-left: 0;
  }
  footer .up {
    left: 45%;
  }
  footer .second-half .projects div a {
    font-size: 20px;
    margin: 20px 10px;
  }
  .two .container .meal .mealhead a img {
    height: 130px;
    width: 130px;
  }
  .about .container div h1 {
    font-size: 2em !important;
  }
  .about .container div p {
    font-size: 0.8em !important;
  }
}
.watch {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.watch div:nth-child(1) {
  position: absolute;
  left: 70px;
  top: 7.5px;
}
.watch div:nth-child(12) {
  position: absolute;
  left: 45px;
  top: 0;
}
.watch div:nth-child(2) {
  position: absolute;
  left: 83px;
  top: 22.5px;
}
.watch div:nth-child(3) {
  position: absolute;
  left: 86px;
  top: 45px;
}
.watch div:nth-child(4) {
  position: absolute;
  left: 80px;
  top: 65px;
}
.watch div:nth-child(5) {
  position: absolute;
  left: 66px;
  top: 78px;
}
.watch div:nth-child(6) {
  position: absolute;
  left: 47.5px;
  bottom: 0px;
}
.watch div:nth-child(7) {
  position: absolute;
  left: 26px;
  bottom: 4px;
}
.watch div:nth-child(8) {
  position: absolute;
  left: 9px;
  bottom: 18px;
}
.watch div:nth-child(9) {
  position: absolute;
  left: 2px;
  bottom: 36px;
}
.watch div:nth-child(10) {
  position: absolute;
  left: 7.5px;
  top: 22.5px;
}
.watch div:nth-child(11) {
  position: absolute;
  left: 20px;
  top: 7.5px;
}
.watch:after {
  content: "";
  height: 30%;
  width: 1.4px;
  top: 18%;
  left: 50%;
  background-color: white;
  position: absolute;
}
.watch::before {
  content: "";
  height: 5px;
  width: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.watch .head {
  height: 0;
  width: 0;
  position: absolute;
  left: 46.495px;
  top: 15%;
  border-bottom: 5px solid #ffffff;
  border-left: 2.5px solid transparent;
  border-right: 2.5px solid transparent;
}
.watch .head:after {
  content: "";
  position: absolute;
  height: 37px;
  width: 1px;
  background-color: #ffffff;
  bottom: -72px;
  animation: turning 60s infinite;
  transform-origin: top left;
  animation-timing-function: linear;
  -webkit-animation: turning 60s infinite;
}
@keyframes turning {
  8.33% {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
  }
  16.66% {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
  }
  25% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  33.33% {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
  }
  41.66% {
    transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  58.33% {
    transform: rotate(215deg);
    -webkit-transform: rotate(215deg);
    -moz-transform: rotate(215deg);
    -ms-transform: rotate(215deg);
    -o-transform: rotate(215deg);
  }
  66.66% {
    transform: rotate(249deg);
    -webkit-transform: rotate(249deg);
    -moz-transform: rotate(249deg);
    -ms-transform: rotate(249deg);
    -o-transform: rotate(249deg);
  }
  83.33% {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
  }
  91.66% {
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    -o-transform: rotate(300deg);
  }
  100% {
    transform: rotate(336deg);
    -webkit-transform: rotate(336deg);
    -moz-transform: rotate(336deg);
    -ms-transform: rotate(336deg);
    -o-transform: rotate(336deg);
  }
}
.hours {
  height: 20%;
  width: 1.5px;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(-93deg);
  left: 36px;
  top: 42%;
  -webkit-transform: rotate(-93deg);
  -moz-transform: rotate(-93deg);
  -ms-transform: rotate(-93deg);
  -o-transform: rotate(-93deg);
}
.hours .head2 {
  height: 0;
  width: 0;
  position: absolute;
  left: -50%;
  bottom: 19px;
  border-bottom: 5px solid #ffffff;
  border-left: 2.5px solid transparent;
  border-right: 2.5px solid transparent;
}
.watch div {
  color: white;
  font-size: 0.7em;
}
.heart:hover .hid {
  color: red;
}
.hid {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
